body{
  background-color: #c3d3d4;
}

.container{
  background-color: #a7c1be;
  width:80%;
  height:100%;
  padding:20px 100px;
  margin-top:100px;

}

.banner {
  height: 150px;
  background-image:url(https://programminghq.files.wordpress.com/2013/05/binary-code-big.jpg);
  margin-bottom:30px;
}

.jumbotron h1, .jumbotron p{
  text-align: center;
}

.top-nav{
  background-color: #a7c1be;
  margin: -120px -25% 150px -25%;
}

.btn{
  background-color: #90bdbf;
  height: 100px;
  border-radius: 5px 10px 5px 10px;
  text-align: center;
  padding: 7%;
  font-size:24px;
  border: 3px solid #acc6c7;
}

p, li {
  font-family: 'Coming Soon', cursive;
  font-size:16px;
}


#me-image{
  height:250px;

}

#thanks{
  color: red;
}

#basel{
  width:250px;
  float:right;
  padding-left: 10px;
  padding-bottom: 10px;
}

.projects ul:first-child {
  list-style: none;
}
