body {
  background-color: beige;
}

.banner {
  background-color: teal;
  background-repeat: no-repeat;
  background-size: contain;
  height: 750px;
  width:auto;
  border-bottom: 10px solid black;
}

.container {
  width: 90%;
}

.navigation {
  padding-top: 20px;
  padding-left: 20px;
}

.nav {
  float: left;
}

.nav-link {
  font-size: 18px;
  color: black;
}

h1 {
  color: white;
  text-shadow: 4px 4px black;
  font-size: 111px;
  text-align: center;
  padding-top: 100px;
}

img#me {
  height: 30%;
  border: 7px solid black;
  border-radius: 100%;
  margin-top: 250px;
  margin-left: 45%;

}


#about {
  padding: 0px 60px 00px 60px;
}
